*.pdb
*.lua
*.exe
*.ignore
!sokol-shdc/sokol-shdc-win.exe

sucata
sucata-player
sucata-cli
sucata-cli.exe
sucata.exe

.DS_Store

*.dSYM/**/*

temp/*
teste.*
__MACOSX/*
temp.zip
build/*
dev.cmd
dev.sh
release/*